@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import "tailwindcss";
@theme {
    /* Brand Colors */
    --color-primary: #0D4B58;
    --color-secondary: #fc6955;

    --color-orange1: #ff7f53;
    --color-orange2: #ff7454;
    --color-orange3: #fb6753;
    --color-orange4: #d55847;
    --color-orange5: #af493b;

    /* Typography */
    --font-arabic: "Cairo", sans-serif;
    
    /* Theme Variables */
    --color-main-bg: white;
    /* --color-main-bg: #F8FAFC; */
    --color-main-text: #111827;
}

/* Dark Mode Variant Configuration */
/* @variant dark (&:where(.dark, .dark *)); */

/* @theme dark {
    --color-main-bg: #111827;
    --color-main-text: white;
    --color-main-text: white;
} */

/* Global Styles */
body {
    background-color: var(--color-main-bg);
    color: var(--color-main-text);
    /* Apply Arabic font and smooth color transitions */
    @apply font-arabic transition-colors duration-300;
    direction: rtl;
}

/* إخفاء السكرول بار مع الحفاظ على التمرير */
@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none; /* لمتصفحات Chrome, Safari, Opera */
  }
  .scrollbar-none {
    -ms-overflow-style: none;  /* لمتصفح IE و Edge القديم */
    scrollbar-width: none;  /* لمتصفح Firefox */
  }
}

@theme {
  --animate-marquee: marquee 100s linear infinite;

  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
  }
}